body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: sans-serif; /* Yazı tipi belirtildi */
}

.container {
    text-align: center;
}

h1 {
    font-size: 5em;
    color: red;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    /* Responsive tasarım için eklemeler */
    margin: 0 10px; /* Yanlardan boşluk bırakarak içeriği sıkıştırmayı önler */
    white-space: normal; /* Yazının satırlara bölünmesini sağlar */
}

/* Tablet ve daha küçük ekranlar için */
@media (max-width: 768px) {
    h1 {
        font-size: 3em; /* Yazı boyutunu küçültür */
        text-align: center;
        white-space: normal;

    }
    body {
      height: auto; /* Height auto olursa içerik kadar oluyor böylece scroll oluyor aşşağıya dogru */
    }
}

/* Mobil cihazlar için */
@media (max-width: 480px) {
    h1 {
        font-size: 2em; /* Yazı boyutunu daha da küçültür */
    }
}